html,body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #f6f6f6;
  word-break: break-all;
  font-family: Arial, Helvetica, sans-serif;
  /* word-wrap: break-word; */
}
a{
  text-decoration: none;
  color: #007bff;
}
*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
  max-height: 300px;
  
}
pre {
  white-space: pre-wrap ;
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
  
  @media screen and (max-width:700px){
    .el-message-box {
      width: 90vw !important;
    }
    .el-message{
      width: 90vw !important;
      min-width: 0 !important;
    }
    * {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
      
    }
    .user-select-none {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all （移动端不需要） */
      -ms-user-select: none;      /* IE 10+ */      
    }
    
  }